
    <div class="list-con">
        <div class="tit">
            <input type="checkbox" id="checkbox1">
            <label for="checkbox1"></label>
            <span><i class="fa fa-gg-circle"></i> 俞兆林浙江专卖店</span>
            <i class="fa fa-angle-right fa-2x"></i>
        </div>
        <dl>
            <dt>
                <input type="checkbox" id="checkbox2">
                <label for="checkbox2"></label>
                <img src="Content/img/img1.jpg" alt="">
            </dt>
            <dd>
                <span class="del">x</span>

                <p>
                    <span class="reduce" ng-click="itemCount('-')">-</span>
                    <span class="count">1</span>
                    <span class="add" ng-click="itemCount('+')">+</span>
                </p>
                <span class="num">￥1270</span>
            </dd>
        </dl>
    </div>
    <div class="list-con">
        <div class="tit">
            <input type="checkbox" id="checkbox3">
            <label for="checkbox3"></label>
            <span><i class="fa fa-gg-circle"></i> 俞兆林浙江专卖店</span>
            <i class="fa fa-angle-right fa-2x"></i>
        </div>
        <dl>
            <dt>
                <input type="checkbox" id="checkbox4">
                <label for="checkbox4"></label>
                <img src="Content/img/img2.jpg" alt="">
            </dt>
            <dd>
                <span class="del">x</span>

                <p>
                    <span class="reduce" ng-click="itemCount('-')">-</span>
                    <span class="count">1</span>
                    <span class="add" ng-click="itemCount('+')">+</span>
                </p>
                <span class="num">￥1270</span>
            </dd>
        </dl>
    </div>
    <div class="cho">
        <span class="all">
            <input type="checkbox" id="checkbox5">
            <label for="checkbox5"></label>
            <b>全选</b>
        </span>

        <p><span class="total">合计：<span class="money text-red">￥</span></span><span></span><span>(不含运费)</span></p>

        <span class="buy">结算（）</span>
    </div>

