<footer class="footer">
    <ul>
        <li>
            <i class="fa fa-home"></i>

            <p>首页</p>
        </li>
        <li>
            <i class="fa fa-wifi"></i>

            <p>微淘</p>
        </li>
        <li>
            <i class="fa fa-comment"></i>

            <p>社区</p>
        </li>
        <li class="active">
            <i class="fa fa-car"></i>

            <p>购物车</p>
        </li>
        <li>
            <i class="fa fa-user-o"></i>

            <p>我的淘宝</p>
        </li>
    </ul>
</footer>